body{
    font-family:sans-serif;
    background-color: rgb(190, 190, 190);
}
h2, p, .readme-wrapper{
    text-align: center;
}
a{
    text-decoration: none;
    
    color: crimson;
}
a:hover{
    cursor: pointer;
    color: darkgreen;
    font-weight: 900;
}
.dramatic{
    color: darkred;
    font-weight: 800;
}
.emphasis{
    color:ivory;
    font-weight: 700;
}
.boxes{
    margin: 2rem;
    padding: 3rem;
    border: black solid;
    border-radius: 5px;
    width: 30em;
}
#box1{
    background-color: forestgreen;
    display: block;
}
#box2{
    background-color: goldenrod;
    display: block;
    position: relative;
}
#box3{
    background-color: indianred;
    display: block;
}
#box4{
    background-color: violet;
    display: block;
}
.image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: teal;
    position: relative;
    top: 3rem;
    left:4rem;
}